<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="a67f9ea0-02b7-4723-b515-35bc0ecf0d7b" wadlVersion="http://wadl.dev.java.net/2009/02" name="REST Service 2" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="a67f9ea0-02b7-4723-b515-35bc0ecf0d7bfileName">REST-Service-2</con:setting>
  </con:settings>
  <con:definitionCache/>
  <con:endpoints/>
</con:interface>
